{
  "plugins": ["prettier"],
  "extends": ["react-app", "prettier", "prettier/react"],
  "rules": {
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": [
      "warn",
      {
        "semi": false,
        "endOfLine": "auto"
      }
    ],
    "no-param-reassign": [
      "error",
      { "ignorePropertyModificationsFor": ["state"] }
    ]
  }
}
